html
	height 100%
	
body
	font-family: 'Raleway', sans-serif;
	font-style: Extra-Light;
	height 100%

.navbar-default 
	background white
	
nav img
	width 200px
	margin-top 5px

.navbar-default .navbar-nav>li>a
	font-weight bold
	color #4c8cf8
	
#carousel
	width 100%

.carousel-inner .item img
	width 100%
	
#logo2
	width 30%
	margin-left 35%
	margin-right 35%
	
#logo2 img
	width 100%
	
#castillo
	text-align center

#castillo h1
	font-size 70px
	margin-top 250px
	color white
	text-shadow: 3px 3px 2px black;
	
.clear
	clear: both;
	
main 
	margin-top -20px

.div_logo{
	width:50%;
    float: left;
	text-align: center;
}
   
.logo{
	width: 60%
	text-align: center;
}
   
.mapaAk, .mapaEpcot{
    width: 50%;
    float: left;
    text-align: center;
	}

@media all and (max-width:400px){
	.mapaEpcot{
    	overflow-x: scroll;
	}
}

@media all and (max-width:603px){
	.mapaAK{
		overflow-x: scroll;
	}
}

@media all and (max-width:768px){
	.mapaAK, .mapaEpcot{
		width: 100%;
		float: none;
		text-align: center;
	}
	.div_logo{
		width: 100%;
		float: none;

	}
}

.container-Imgs{
	background: url(../Imagenes/Fondo.png) no-repeat center center fixed;
}